/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
}
.nav-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--secondary-color);
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.navbar ul li {
    margin-right: 20px;
    color:black
}

.navbar ul li:last-child {
    margin-right: 20px;
}

.navbar div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}
.navbar ul li a {
    color:black
}
