.dropdown-menu {
    position: relative;
    display: inline-block;
    color: white !important;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}
.dropdown-toggle svg {
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-content span {
    display: block;
    padding: 10px;
    color: #333;
}

.dropdown-content button {
    display: block;
    padding: 10px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #555;
}
